////////////////////////////////////////////////
// Grids
////////////////////////////////////////////////
.grid,
%grid
	@extend .cf
	margin-left: -$base-spacing-unit

.grid > .grid
	margin-left: 0 // remove margin on nested grid items

.grid__item,
%grid__item
	width: 100% // default grid items to be own segements in mobile
	padding-left: $base-spacing-unit
	float: left

///////////////////////////////////////
// Full Grid
///////////////////////////////////////

.grid--full,
%grid--full
	margin-left: 0!important
	
	.grid__item
		padding-left: 0!important