////////////////////////////////////////////////
// Pull
////////////////////////////////////////////////

// ------ THIS WAS TAKEN FROM INUIT CSS. PLEASE USE INUIT ------ //

@mixin layout-pull-setup($space: "")

	// whole
	.pull--#{$space}one-whole
		right: 100%

	// halves
	.pull--#{$space}one-half,
	.pull--#{$space}two-fourths
		right: 50%

	// thirds
	.pull--#{$space}one-third
		right: 33.333%

	.pull--#{$space}two-thirds
		right: 66.666%

	// fourths
	.pull--#{$space}one-fourth
		right: 25%

	.pull--#{$space}three-fourths
		right: 75%

@mixin pull-setup($space: "")

	// whole
	%pull--#{$space}one-whole
		right: 100%

	// halves
	%pull--#{$space}one-half,
	%pull--#{$space}two-fourths,
	%pull--#{$space}three-sixths,
	%pull--#{$space}four-eighths,
	%pull--#{$space}five-tenths,
	%pull--#{$space}six-twelfths
		right: 50%

	// thirds
	%pull--#{$space}one-third,
	%pull--#{$space}two-sixths,
	%pull--#{$space}three-ninths,
	%pull--#{$space}four-twelfths
		right: 33.333%

	%pull--#{$space}two-thirds,
	%pull--#{$space}four-sixths,
	%pull--#{$space}six-ninths,
	%pull--#{$space}eight-twelfths
		right: 66.666%

	// fourths
	%pull--#{$space}one-fourth,
	%pull--#{$space}two-eighths,
	%pull--#{$space}three-twelfths
		right: 25%

	%pull--#{$space}three-fourths,
	%pull--#{$space}six-eighths,
	%pull--#{$space}nine-twelfths
		right: 75%

	// fifths
	%pull--#{$space}one-fifth,
	%pull--#{$space}two-tenths
		right: 20%

	%pull--#{$space}two-fifths,
	%pull--#{$space}four-tenths
		right: 40%

	%pull--#{$space}three-fifths,
	%pull--#{$space}six-tenths
		right: 60%

	%pull--#{$space}four-fifths,
	%pull--#{$space}eight-tenths
		right: 80%

	// sixths
	%pull--#{$space}one-sixth,
	%pull--#{$space}two-twelfths
		right: 16.666%

	%pull--#{$space}five-sixths,
	%pull--#{$space}ten-twelfths
		right: 83.333%

	// sevenths
	%pull--#{$space}one-seventh
		right: 14.285%
	%pull--#{$space}two-sevenths
		right: 28.571%
	%pull--#{$space}three-sevenths
		right: 42.857%
	%pull--#{$space}four-sevenths
		right: 57.142%
	%pull--#{$space}five-sevenths
		right: 71.428%
	%pull--#{$space}six-sevenths
		right: 85.714%

	// eighths
	%pull--#{$space}one-eighth
		right: 12.5%
	%pull--#{$space}three-eighths
		right: 37.5%
	%pull--#{$space}five-eighths
		right: 62.5%
	%pull--#{$space}seven-eighths
		right: 87.5%

	// ninths
	%pull--#{$space}one-ninth
		right: 11.111%
	%pull--#{$space}two-ninths
		right: 22.222%
	%pull--#{$space}four-ninths
		right: 44.444%
	%pull--#{$space}five-ninths
		right: 55.555%
	%pull--#{$space}seven-ninths
		right: 77.777%
	%pull--#{$space}eight-ninths
		right: 88.888%

	// tenths
	%pull--#{$space}one-tenth
		right: 10%
	%pull--#{$space}three-tenths
		right: 30%
	%pull--#{$space}seven-tenths
		right: 70%
	%pull--#{$space}nine-tenths
		right: 90%

	// twelfths
	%pull--#{$space}one-twelth
		right: 8.333%
	%pull--#{$space}five-twelfths
		right: 41.666%
	%pull--#{$space}seven-twelfths
		right: 58.333%
	%pull--#{$space}eleven-twelfths
		right: 91.666%

@if $use-pull == true

	[class*="pull--"]
		position: relative
	
	@include pull-setup()
	@include layout-pull-setup()

	@if $lap-pull == true

		+media-query(lap)
			+pull-setup('lap-')
			+layout-pull-setup('lap-')

	@if $desk-pull == true

		+media-query(desk)
			+pull-setup('desk-')
			+layout-pull-setup('desk-')