////////////////////////////////////////////////
// Push
////////////////////////////////////////////////

// ------ THIS WAS TAKEN FROM INUIT CSS. PLEASE USE INUIT ------ //

@mixin layout-push-setup($space: "")

	// whole
	.push--#{$space}one-whole
		left: 100%
	
	// halves
	.push--#{$space}one-half,
	.push--#{$space}two-fourths
		left: 50%
	
	// thirds
	.push--#{$space}one-third
		left: 33.333%

	.push--#{$space}two-thirds
		left: 66.666%
	
	// fourths
	.push--#{$space}one-fourth
		left: 25%

	.push--#{$space}three-fourths
		left: 75%

@mixin push-setup($space: "")

	// whole
	%push--#{$space}one-whole
		left: 100%
	
	// halves
	%push--#{$space}one-half,
	%push--#{$space}two-fourths,
	%push--#{$space}three-sixths,
	%push--#{$space}four-eighths,
	%push--#{$space}five-tenths,
	%push--#{$space}six-twelfths
		left: 50%
	
	// thirds
	%push--#{$space}one-third,
	%push--#{$space}two-sixths,
	%push--#{$space}three-ninths,
	%push--#{$space}four-twelfths
		left: 33.333%

	%push--#{$space}two-thirds,
	%push--#{$space}four-sixths,
	%push--#{$space}six-ninths,
	%push--#{$space}eight-twelfths
		left: 66.666%
	
	// fourths
	%push--#{$space}one-fourth,
	%push--#{$space}two-eighths,
	%push--#{$space}three-twelfths
		left: 25%

	%push--#{$space}three-fourths,
	%push--#{$space}six-eighths,
	%push--#{$space}nine-twelfths
		left: 75%
	
	// fifths
	%push--#{$space}one-fifth,
	%push--#{$space}two-tenths
		left: 20%

	%push--#{$space}two-fifths,
	%push--#{$space}four-tenths
		left: 40%

	%push--#{$space}three-fifths,
	%push--#{$space}six-tenths
		left: 60%

	%push--#{$space}four-fifths,
	%push--#{$space}eight-tenths
		left: 80%
	
	// sixths
	%push--#{$space}one-sixth,
	%push--#{$space}two-twelfths
		left: 16.666%

	%push--#{$space}five-sixths,
	%push--#{$space}ten-twelfths
		left: 83.333%
	
	// sevenths
	%push--#{$space}one-seventh
		left: 14.285%
	%push--#{$space}two-sevenths
		left: 28.571%
	%push--#{$space}three-sevenths
		left: 42.857%
	%push--#{$space}four-sevenths
		left: 57.142%
	%push--#{$space}five-sevenths
		left: 71.428%
	%push--#{$space}six-sevenths
		left: 85.714%
	
	// eighths
	%push--#{$space}one-eighth
		left: 12.5%
	%push--#{$space}three-eighths
		left: 37.5%
	%push--#{$space}five-eighths
		left: 62.5%
	%push--#{$space}seven-eighths
		left: 87.5%
	
	// ninths
	%push--#{$space}one-ninth
		left: 11.111%
	%push--#{$space}two-ninths
		left: 22.222%
	%push--#{$space}four-ninths
		left: 44.444%
	%push--#{$space}five-ninths
		left: 55.555%
	%push--#{$space}seven-ninths
		left: 77.777%
	%push--#{$space}eight-ninths
		left: 88.888%
	
	// tenths
	%push--#{$space}one-tenth
		left: 10%
	%push--#{$space}three-tenths
		left: 30%
	%push--#{$space}seven-tenths
		left: 70%
	%push--#{$space}nine-tenths
		left: 90%
	
	// twelfths
	%push--#{$space}one-twelfth
		left: 8.333%
	%push--#{$space}five-twelfths
		left: 41.666%
	%push--#{$space}seven-twelfths
		left: 58.333%
	%push--#{$space}eleven-twelfths
		left: 91.666%

@if $use-push == true

	[class*="push--"]
		position: relative
	
	@include push-setup()
	@include layout-push-setup()

	@if $lap-push == true

		+media-query(lap)
			+push-setup('lap-')
			+layout-push-setup('lap-')

	@if $desk-push == true

		+media-query(desk)
			+push-setup('desk-')
			+layout-push-setup('desk-')