////////////////////////////////////////////////
// PLACEHOLDERS
////////////////////////////////////////////////

// position
///////////////////////////////////////

%pos--rel,
%pr
	position: relative

%pos--abs,
%pa
	position: absolute

%pos--fixed,
%pf
	position: fixed

// display type
///////////////////////////////////////

%dis--inline,
%di
	display: inline

%dis--inline-block,
%dib
	display: inline-block

%dis--block,
%db
	display: block

%dis--table,
%dt
	display: table

%dis--table-cell,
%dtc
	display: table-cell

// floats
///////////////////////////////////////

%float--left,
%fl
	float: left

%float--right,
%fr
	float: right

%float--none,
%fn
	float: none

// cursor
///////////////////////////////////////

%cursor-pointer
	cursor: pointer

// base font size
///////////////////////////////////////

%base-font-size
	+font-size($base-font-size)

// text alignment
///////////////////////////////////////

%text--left,
%tl
	text-align: left

%text--right,
%tr
	text-align: right

%text--center,
%tc
	text-align: center

// text truncate
///////////////////////////////////////

%text--truncate
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

// text replacement
///////////////////////////////////////

%text--replacement
	border: 0
	color: transparent
	font: 0/0 a
	text-shadow: none

// text decoration
///////////////////////////////////////

%text--none
	text-decoration: none

%text--underline
	text-decoration: underline

%text--overline
	text-decoration: overline

%text--line-through
	text-decoration: line-through

// text transform
///////////////////////////////////////

%text-capitalize,
%caps
	text-transform: capitalize

%text--uppercase,
%uppercase
	text-transform: uppercase

%text--lowercase,
%lowercase
	text-transform: lowercase


// font styles
///////////////////////////////////////

%text-italic,
%italic
	font-style: italic

// font weights
///////////////////////////////////////

%weight--light,
%wl
	font-weight: $weight-light

%weight--normal,
%wn
	font-weight: $weight-normal

%weight--semibold,
%ws
	font-weight: $weight-semibold