////////////////////////////////////////////////
// PLACEHOLDERS
////////////////////////////////////////////////

// position
///////////////////////////////////////

=pos-static
	position: static

%pos-static,
%ps
	+pos-static

=pos-rel
	position: relative

%pos-rel,
%pr
	+pos-rel

=pos-abs
	position: absolute

%pos-abs,
%pa
	+pos-abs

=pos-fixed
	position: fixed

%pos-fixed,
%pf
	+pos-fixed

// display type
///////////////////////////////////////

=dis-none
	display: none

%dis-none
	+dis-none

=dis-inline
	display: inline

%dis-inline
	+dis-inline

=dis-inline-block
	display: inline-block

%dis-inline-block
	+dis-inline-block

=dis-block
	display: block

%dis-block
	+dis-block

=dis-list-item
	display: list-item

%dis-list-item
	+dis-list-item

=dis-inline-table
	display: inline-table

%dis-inline-table
	+dis-inline-table

=dis-table
	display: table

%dis-table
	+dis-table

=dis-table-cell
	display: table-cell

%dis-table-cell
	+dis-table-cell

=dis-table-column
	display: table-column

%dis-table-column
	+dis-table-column

=dis-table-column-group
	display: table-column-group

%dis-table-column-group
	+dis-table-column-group

=dis-table-footer-group
	display: table-footer-group

%dis-table-footer-group
	+dis-table-footer-group

=dis-table-header-group
	display: table-header-group

%dis-table-header-group
	+dis-table-header-group

=dis-table-row
	display: table-row

%dis-table-row
	+dis-table-row

=dis-table-row-group
	display: table-row-group

%dis-table-row-group
	+dis-table-row-group

=dis-flex
	display: flex

%dis-flex
	+dis-flex

=dis-inline-flex
	display: inline-flex

%dis-inline-flex
	+dis-inline-flex

=dis-grid
	display: grid

%dis-grid
	+dis-grid

=dis-inline-grid
	display: inline-grid

%dis-inline-grid
	+dis-inline-grid

=dis-run-in
	display: run-in

%dis-run-in
	+dis-run-in

=dis-inherit
	display: inherit

%dis-inherit
	+dis-inherit

// floats
///////////////////////////////////////

=float-left
	float: left

%float-left,
%fl
	+float-left

=float-right
	float: right

%float-right,
%fr
	+float-right

=float-none
	float: none

%float-none,
%fn
	+float-none

=float-inherit
	float: inherit

%float-inherit,
%fi
	+float-inherit

// cursor
///////////////////////////////////////

=cursor-pointer
	cursor: pointer

%cursor-pointer
	+cursor-pointer

// base font size
///////////////////////////////////////

%base-font-size
	+font-size($base-font-size)

// text alignment
///////////////////////////////////////

=text-left
	text-align: left

%text-left,
%tl
	+text-left

=text-right
	text-align: right

%text-right,
%tr
	+text-right

=text-center
	text-align: center

%text-center,
%tc
	+text-center

=text-justify
	text-align: justify

%text-justify
	+text-justify

=text-start
	text-align: start

%text-start
	+text-start

=text-end
	text-align: end

%text-end
	+text-end

=text-match-parent
	text-align: match-parent

%text-match-parent
	+text-match-parent

// text truncate
///////////////////////////////////////

=text-truncate
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

%text-truncate
	+text-truncate

// text replacement
///////////////////////////////////////

=text-replacement
	border: 0
	color: transparent
	font: 0/0 a
	text-shadow: none

%text-replacement
	+text-replacement

// text decoration
///////////////////////////////////////

=text-dec-none
	text-decoration: none

%text-dec-none
	+text-dec-none

=text-dec-underline
	text-decoration: underline

%text-dec-underline
	+text-dec-underline

=text-dec-overline
	text-decoration: overline

%text-dec-overline
	+text-dec-overline

=text-dec-line-through
	text-decoration: line-through

%text-dec-line-through
	+text-dec-line-through

// text transform
///////////////////////////////////////

=text-trans-capitalize
	text-transform: capitalize

%text-trans-capitalize,
%caps
	+text-trans-capitalize

=text-trans-uppercase
	text-transform: uppercase

%text-trans-uppercase,
%uppercase
	+text-uppercase

=text-trans-lowercase
	text-transform: lowercase

%text-trans-lowercase,
%lowercase
	+text-trans-lowercase

=text-trans-none
	text-transform: none

%text-trans-none
	+text-trans-none

=text-trans-full
	text-transform: full-width

%text-trans-full
	+text-trans-full

=text-trans-inherit
	text-transform: inherit

%text-trans-inherit
	+text-trans-inherit

// font styles
///////////////////////////////////////

=text-style-italic
	font-style: italic

%text-style-italic,
%italic
	+text-style-italic

// font weights
///////////////////////////////////////

=weight-light
	font-weight: $weight-light

%weight-light,
%wl
	+weight-light

=weight-normal
	font-weight: $weight-normal

%weight-normal,
%wn
	+weight-normal

=weight-semibold
	font-weight: $weight-semibold

%weight-semibold,
%ws
	+weight-semibold