////////////////////////////////////////////////
// UTILITY
////////////////////////////////////////////////

// clearfix
///////////////////////////////////////

.cf,
.clearfix,
%cf
	&:before,
	&:after
		content: " "
		display: table

	&:after
		clear: both

// debug
///////////////////////////////////////

%debug
	outline: 1px solid red !important